<launch>

  <!-- Step 1: Start Simulation -->
  <include file="$(find tiago_iaslab_simulation)/launch/start_simulation.launch">
    <arg name="world_name" value="ias_lab_room_full_tables"/>
  </include>

  <!-- Step 2: Launch Apriltag launch file-->
  <include file="$(find tiago_iaslab_simulation)/launch/apriltag.launch" />

  <!-- Step 3: Launch Navigation launch file -->
  <include file="$(find tiago_iaslab_simulation)/launch/navigation.launch" />

  <!-- Step 4: Run humanNode -->
  <node pkg="tiago_iaslab_simulation" type="human_node" name="human" output="screen" />

  <!-- Step 5: Run navigationNode -->
  <node pkg="assignment2" type="navigation_node" name="navigation" output="screen" />
  
  <!-- Step 6: Run rviz -->
  <!-- node pkg="rviz" type="rviz" name="rviz" output="screen" -->
  
  <!-- Step 7: Run detectionNode -->
  <node pkg="assignment2" type="detection_node" name="detection" output="screen" />
  
  <!-- Step 8: Run manipulationNode Node -->
  <!-- node pkg="assignment2" type="manipulation_node" name="manipulation" output="screen" -->

  <!-- Step 9: Run scanNode Node -->
  <!-- node pkg="assignment2" type="scan_node" name="scan" output="screen" -->

 </launch>

